@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #030303;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jaldi: var(--font-jaldi);
  --font-jersey: var(--font-jersey);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jaldi), Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-jersey), Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 1;
}

.logo {
  font-family: var(--font-jersey), Arial, Helvetica, sans-serif;
  font-size: 1.875rem;
}

@utility bg-pattern {
  /* https://css-pattern.com/cubes-illusion/ */

  --s: 200px;
  /* control the size*/

  --c1: var(--color-neutral-900);
  --c2: var(--color-neutral-500);
  --c3: var(--color-neutral-700);

  background: repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 50%) calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
    repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 50%);
  background-size: var(--s) calc(var(--s)*tan(30deg));
}

.btn-primary {
  @apply p-2 pl-6 pr-6 mt-4 mb-14 cursor-pointer text-xl text-white bg-gradient-to-r from-orange-400 to-red-400 rounded-full font-bold flex items-center justify-center gap-1;
}

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-800 to-blue-800;
}

.bg-gradient {
  background: linear-gradient(to right, #EFF5FD, #F4E4FB);
}

/* breakout */
/* see https://www.youtube.com/watch?v=c13gpBrnGEw */
/* TODO: make tailwind utility */
.content-grid {
  --spacing-xl: 4rem;
  --spacing-lg: 2rem;
  --spacing-md: 1rem;
  --spacing-sm: .5rem;
  --spacing-xs: .25rem;

  --content-max-width: 56.25rem;
  --breakout-max-width: 75rem;
  --padding-inline: var(--spacing-md);
  --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2),
      var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid> :not(.breakout, .full-width),
.full-width> :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid>.breakout {
  grid-column: breakout;
}

.content-grid>.full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

/* Anders utility classes Start */
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.stretch {
  align-self: stretch;
}

.justify-center {
  justify-items: center;
}

.text-center {
  text-align: center;
}

.gap-tiny {
  gap: 0.5rem;
}

.gap-small {
  gap: 1rem;
}

.gap-medium {
  gap: 1.5rem;
}

.gap-large {
  gap: 2.5rem;
}

.padding-block-small {
  padding-block: 1rem;
}

.padding-block-medium {
  padding-block: 2rem;
}

.padding-block-large {
  padding-block: 4rem;
}

.bg-dark {
  background-color: #2D2D2D;
}

.color-light {
  color: #fff;
}

.color-gray {
  color: #EAEAEA;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;  
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.margin-bottom-small {
  margin-bottom: 0.4rem;
}

.margin-bottom-medium {
  margin-bottom: 0.8rem;
}
/* Anders utility classes End */

/* General styling */
.form-input {
  padding: 0.5em 24em 0.5em 1em;
  border-radius: 0.3em;
  box-shadow: 0 3px 2px 0 #bbb;
}

.btn-form {
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  background-color: #637CCE;
  top: 9px;
  right: 9px;
  cursor: pointer;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  padding: 2rem 1rem 0.6rem;
  border-radius: 0.5rem;
  border: 4px solid #637CCE;
  background-color: #F1FDFF;
}

.pokemon-image {
  border-radius: 50%;
  border: 3px solid lightskyblue;
  background-color: #fff;
}

.pokemon-id {
  display: grid;
  place-items: center;
  padding: 0.1rem 0.3rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  line-height: 1.2;
  color: blue;
  background-color: lightblue;
}

.pokemon-tag {
  display: grid;
  place-items: center;
  padding: 0.25rem 0.6rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  text-transform: capitalize;
  line-height: 1.2;
  color: #fff;
  background-color: blue;
}
